@media only screen and (max-width: 942px) {
    nav {
        width: 100%;
        height: auto;
        background: #44433e;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        flex-wrap: wrap;
        flex-direction: column;
    }
    nav ul {
        margin: 0px;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        flex-direction: column;
        padding-left: 0px;
        display: none;
    }
    div.logo {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .hamburger {
        display: block;
    }

    h2 {
        width: 100%;
    }

    header h1 {
        font-size: 40px;
        margin: 0px;
        padding: 0px;
    }

    .general-class {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .div-icons {
        width: 100%;
        height: 374px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.3s;
    }
    .container {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }


    .about {
        flex-direction: column-reverse;
        height: auto;
    }

    .about .about-col-2 h2 {
        width: 100%;
        text-align: center;
        display: block;
        font-size: 28px;
        margin: 0px;
        margin-top: 99px;
    }
    .about-col-2 {
        width: 100%;
        height: auto;
    }
    #about-img {

        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #about-img img {
        width: 100%;
    }
    .about .progress {
        width: 99%;
        height: 39px;
        border: 1px solid #959595;
        border-radius: 3px;
        margin-bottom: 14px;
    }
    .about .progress-content {
        width: 80%;
        height: 39px;
        background-color: #9c5da5;
        color: #fff;
        line-height: 39px;
        padding-left: 10px;

    }
    .about #p2 {
        width: 75%;
    }
    .about #p3 {
        width: 65%;

    }
    .about #p4 {
        width: 90%;
    }
    .amazink-work ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        height: auto;
        width: auto;
        background-color: #fff;
        padding: 0px;
        margin-bottom: 70px;
    }
    .amazink-work ul li {
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        padding-left: 29px;
        padding-right: 29px;
        border: 1px solid #ebebeb;
        line-height: 58px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
    }
    .container-foto {
        width: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    #services ul {
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
        align-items: center;
        list-style-type: none;
        margin: 0px;
        padding-left: 0px;
        flex-wrap: wrap;
    }
    #services ul li {
        width: 100%;
        height: 93px;
        text-align: center;
        border-left: 1px solid #ebebeb;
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        line-height: 93px;
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #f8fcfe;
    }
    div.servises-content {
        width: auto;
        margin-top: 26px;
        margin-bottom: 101px;
        margin-right: auto;
        margin-left: auto;
    }
    .servises-content-img {
        width: 195px;
        height: 140px;
        background: grey;
        margin-right: 20px;
        float: left;
        clear: both;
    }

    section.every p {
        padding: 5px;
        color: #c8c9c9;
        text-align: center;
    }
    .about-col-2-content .hgroup h3 {
        display: inline;
        padding: 10px;
        font-size: 20px;
    }
    .theme {
        height: auto;
    }
    #map #map-h {
        text-align: left;
        margin: 0px;
    }

    form input,
    form textarea {
        width: 95%;
        



    }
    
    form button[type="submit"]{
        width: 95%;
    }
    
    form{
        width: 100%;
        margin-bottom:10px;
    }



}

@media only screen and (max-width: 720px) {
    .carousel {
        width: 100%;
    }
    .hamburger {
        display: block;
    }

    .container-fluide {
        flex-direction: column-reverse;
    }
    .container-fluide .col-lg-map {
        width: 100%;
    }
    .col-lg-map:nth-child(1){
        margin-top:10px;
    }
    .theme .about-col-2 img{
        width: 100%;
    }
    .theme button.btn-every{
        margin-bottom:30px;
    }
    #map #map-h{
        margin-top:30px;
        padding:0px;
    }
}
