body {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.container {

    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
}

h2 {
    margin: 0px;
    margin-top: 99px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2::after {
    content: "";
    display: block;
    width: 100px;
    border-bottom: 2px groove #18cfab;
    height: 2px;
    margin-top: 20px;

}


/*nav style */

nav {
    width: 100%;
    height: 120px;
    background: #44433e;

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

nav ul {
    margin: 0px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    color: #fff;
    list-style-type: none;
    margin: 10px;
    font-weight: 700;
}

/*nav style end*/

/*header style start*/

header {

    background-image: linear-gradient(rgba(60, 60, 60, 0.8), rgba(60, 60, 60, 0.8)), url(../img/office-5header.jpg);
    background-position: center;
    background-size: cover;

    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: #fff;

}

header .header-content {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #fff;
    height: auto;
    flex-direction: column;
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: center;
}

.button-group button,
.btn-every {
    width: 166px;
    height: 61px;
    background: #18cfab;
    color: #fff;
    font-size: 12.6px;
    margin: 30px;
    border-radius: 5px;
    border: 0px;
    border-top: 2px solid #fff;

}

.button-group button:hover {
    transition: 0.3s;
    background: #00cbf6;
}

header h3,
h1 {
    color: #fff;
}

header span {
    color: #18cfab;
}

header h1 {
    font-size: 69px;
    margin: 0px;
    padding: 0px;
}

header h3 {
    font-size: 35px;
    margin: 0px;
    padding: 0px;
}

/*GENERAL-ICONS SECTION*/

.general-class {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.div-icons {
    width: 480px;
    height: 374px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;



}

.div-icons:nth-child(even) {

    background-color: #18cfab;
    border-top: 7px solid #fff;
    color: #fff;
}

.div-icons:nth-child(odd) {
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
    color: #18cfab;
}

.div-icons:nth-child(even):hover,
.div-icons:nth-child(odd):hover {
    background: grey;
}

/*section white-content*/

.white-content h2 {
    font-size: 36px;
    color: rgba(78, 78, 78, 255);
    text-align: center;
    margin: 0px;
    margin-top: 99px;
    margin-bottom: 116px;
}

.white-content h2,
p {
    color: rgba(119, 119, 119, 255);
}

.white-content p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.white-content h3 {
    padding-left: 5px;
    color: rgba(113, 113, 113, 255);
    font-size: 18px;
}

.skills {

    width: 325px;
    margin: 20px;
}

.skills div {
    display: flex;
    justify-content: flex-start;
}

.skills div figure {
    height: 53px;
    display: flex;
    align-items: center;
    margin: 0px;
    margin-right: 26px;
}

skills div img {
    width: 28px;
    height: 28px;
}

/*about section style start*/

.about {
    background-color: #090f14;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    height: 676px;
}

.about-col-2 {
    width: 50%;
    height: 676px;
}

.about .about-col-2 h2 {
    width: 400px;
    display: block;
    font-size: 36px;
    margin: 0px;
    margin-top: 99px;
}

.about .about-col-2 h2::after {
    content="";
    display: block;
    margin-right: auto;
    margin-left: auto;

}

#about-img {
    height: 676px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#about-img img {
    width: 750px;
}

.about-col-2-content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.hgroup {
    width: 100%;
    margin-top: 83px;
    margin-bottom: 65px;
}

.about-col-2-content .hgroup h3 {
    display: inline;
    padding: 10px;



}

.about-col-2-content .hgroup h3:hover {
    border-top: 2px solid #18cfab;
    color: #18cfab;
}

.about .progress {
    width: 556px;
    height: 39px;
    border: 1px solid #959595;
    border-radius: 3px;
    margin-bottom: 14px;
}

.about .progress-content {
    width: 401px;
    height: 39px;
    background-color: #9c5da5;
    color: #fff;
    line-height: 39px;
    padding-left: 10px;

}

.about #p2 {
    background: #11b0de;
    width: 471px;
}

.about #p3 {
    background-color: #d67f7f;
    width: 371px;
}

.about #p4 {
    background-color: #20bc9d;
    width: 504px;
}

.about #p5 {}

/*h2 animate class*/

2 3 4 5 6 7 .hide {
    opacity: 0
}

.show {
    opacity: 1;
}

/*Amazink-work-section style staart*/

.amazink-work {
    background-color: #f8fcfe;
}

.amazink-work h2 {
    margin-top: 0px;
    padding-top: 99px;
    color: #4e4e4e;
    margin-bottom: 101px;
}

.amazink-work .container {
    display: flex;
    justify-content: center;
}

.amazink-work ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 58px;
    width: auto;
    background-color: #fff;
    padding: 0px;
    margin-bottom: 70px;

}

.amazink-work ul li {

    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    padding-left: 29px;
    padding-right: 29px;
    border-left: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;


    line-height: 58px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.amazink-work ul li:nth-child(5) {
    border-right: 1px solid #ebebeb;

}

.amazink-work ul li a {
    display: inline-block;
    height: 58px;
    font-size: 14px;
    width: 100%;
    text-decoration: none;
    font-weight: 600;
    color: #717171;
}

.container-foto {
    width: 1144px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

div.work-foto {
    position: relative;
    width: 286px;
    height: 208px;
    background: blue;
    overflow: hidden
}

div.work-foto:nth-child(even) {
    background-color: grey;
}

div.work-foto img {
    width: 286px;
    height: 208px;
}

.mask-work {
    position: absolute;
    width: 286px;
    height: 208px;
    background-color: #fff;
    opacity: 0;
    top: 0;
    z-index: 10;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;


}

.mask-work:hover {
    opacity: 0.9;
    transition: 0.3s;
}

.mask-social {
    text-align: center;
}



.mask-work .mask-social span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.5px solid #18cfab;
    margin: 10px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    color: #18cfab;
}

.mask-work .mask-social span:hover {
    background-color: #18cfab;
    color: #fff;
    transition: 0.3s;
}


#work-more {
    display: none;
}

div.btn-content {
    margin: 0px;
    margin-top: 70px;
    margin-bottom: 100px;
    text-align: center;
}

.btn-load {
    ;
    width: 160px;
    height: 60px;
    border-radius: 3px;
    color: #fff;
    background-color: #18cfab;
    border: 0px;
    margin-bottom: 100px;

}

/*triangle start*/

#triangle {


    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #18cfab;

    margin-left: auto;
    margin-right: auto;



}

/*trinagle end*/

/*section SERVICES*/

#services .container {
    display: flex;
    justify-content: center;
}

#services ul {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 93px;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;

}

#services ul li {
    width: 193px;
    height: 93px;

    text-align: center;

    border-left: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;


    line-height: 93px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #f8fcfe;

}

#services ul li::after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid #18cfab;
    margin-left: auto;
    margin-right: auto;

}

#services ul li:nth-child(5) {
    border-right: 1px solid #ebebeb;
}

#services ul li a {
    text-decoration: none;
}

#services ul li button {
    width: 100%;
    height: 100%;
    border-color: transparent;
    background: transparent
}

div.servises-content {
    width: 970px;

    margin-top: 26px;
    margin-bottom: 101px;
    margin-right: auto;
    margin-left: auto;

}

.servises-content-img {
    width: 195px;
    height: 140px;
    background: grey;
    margin-right: 20px;
    float: left;
    clear: both;
}

/*every section*/

section.every {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 476px;
    background-image: linear-gradient(rgba(60, 60, 60, 0.8), rgba(60, 60, 60, 0.8)), url(../img/blur.jpg);
    background-size: cover;
    background-position: center;
}

section.every h2 {
    color: #18cfab;
}

section.every h2::after {
    display: none;
}

section.every p {
    color: #c8c9c9;
    font size: 16px;
}

/*section breaking news*/

#breaking-news .breaking-content {
    width: 263px;
    background-color: #f8fcfe;
    margin: 14px;
    border: 1px solid #f0f1f2;
    position: relative;

}

#breaking-news .breaking-content figure {
    margin: 0px;
    width: 263px;
    height: 229px;
    overflow: hidden;
}

#breaking-news .breaking-content figure img {
    width: 263px;
    height: 229px;
}

#breaking-news .breaking-content .data {
    position: absolute;
    z-index: 10;
    width: 68px;
    height: 66px;
    right: 0;
    top: 0;
    background-color: #203e38;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#breaking-news .breaking-content .data h4 {
    margin: 0px;
}

.general-class .round-icons {
    width: 165px;
    height: 165px;
    border: 2px solid #18cfab;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
}

.general-class .div-icons:nth-child(even) {
    border-top: 7px solid #25333c;
}

.general-class .div-icons p {
    font-size: 18px;
    color: rgba(37, 51, 60, 255);
}

section.general-class .round-icons:nth-child(even) {
    border: 2px solid #25333c;
}

.general-class .round-icons figure {
    width: 111px;
    height: 111px;
    margin: 0px;
    background-color: #18cfab;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.general-class .black {
    border: 2px solid #25333c;
}

section.general-class .black figure {
    background-color: #25333c;
}

.general-class .div-icons .round-content {
    font-size: 36px;
    margin: 0px;
    color: #fff;
}

.general-class .div-icons .text-green {
    color: #18cfab;
    font-size: 18px;
}

.container-bottom {
    margin-bottom: 100px;
}

/*section Our Princing Table*/

div.table {
    width: 286px;
    height:auto;
    background: #f8fcfe;
    margin: 0px;
    padding: 0px;
    border: 1px solid #e1e1e1;
    border-radius:5px;
    text-align:center;
    margin-bottom: 100px;
}
#table-shadow{
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.6);
-moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.6);
box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.6);
}

#our-princing h1{
    background-color:#2e4a5b;
    height:104px;
    line-height: 104px;
    font-size: 40px;
    margin:0px;
}
#our-princing h1::after{
    content:"";
    display:block;
    height: 4px;
    border-bottom:1px solid #e1e1e1;
}
#table-shadow h3{
    color:#18cfab;
}
#table-shadow h1{
    background-color:#18cfab; 
}
#table-shadow button{
    background-color:#18cfab;
}
div.table p{
    height:48px;
    line-height: 48px;
    text-align:center;
    border-bottom: 1px solid #e1e1e1;
    font-weight: 700;
    margin:0px;
}

div.table span{
    font-size:20px;
    
}
button.btn-table{
    width:172px;
    height:51px;
    color:#fff;
    background-color:#2e4a5b;
    border-radius:5px;
    margin-top:23px;
    margin-bottom:28px;
    border:0px;
}

/*section carousel-blog*/
section.carousel-blog{
    width: 100%;
    height: 852px;
    background-color:#2e404d;
}
section.carousel-blog h2{
    color:#fff;
    padding-top:99px;
    margin-bottom: 105px;
}
section.carousel-blog p{
    color:#bbbbbb;
    
}

